body {
    font-size: 100%;
    font-family: Verdana, sans-serif;
    background-color: rgb(127, 195, 255);
    text-align: center
}

select, button, option {
    font-family: inherit;
    font-size: inherit;
}

p {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.blue-text{
    color: darkblue;
    font-weight: bold;
}

.red-text {
    color: darkred;
    font-weight: bold;
}

.small-space {
    padding-top: 8px;
    padding-bottom: 8px;
}

.extra-space {
    padding-top: 15px;
    padding-bottom: 15px;
}

hr {
    border: 2px solid blue;
    width: 60%;
}

table {
    margin: auto;
    background-color: white;
    padding: 10px;
}

.num {
    font-size: 1.2em;
    text-align: center;
}

.ref-text, .hyp-text {
    font-family: 'Times New Roman', serif;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 0px;
}

.ins {
    color: green;
    font-weight: bolder;
}

.sub {
    color: blue;
    font-weight: bolder;
}

table.levenshtein td {
    text-align: left;
    padding: 10px;
    min-width: 60px;
}

table.matrix-key td {
    text-align: center;
    padding: 10px;
    min-width: 100px;
}

/* Modal box styles adapted from https://www.w3schools.com/howto/howto_css_modals.asp */

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    
    background-color: #fefefe;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}