body {
    font-size: 100%;
    font-family: Verdana, sans-serif;
    background-color: rgb(127, 195, 255);
    text-align: center
}

select, button, option {
    font-family: inherit;
    font-size: inherit;
}

p{
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.small-space{
    padding-top: 8px;
    padding-bottom: 8px;
}

.extra-space {
    padding-top: 15px;
    padding-bottom: 15px;
}

hr {
    border: 2px solid blue;
    width: 60%;
}

table {
    margin: auto;
    background-color: white;
    padding: 10px;
}

.num {
    font-size: 1.2em;
    text-align: center;
}

.ref-text, .hyp-text {
    font-family: 'Times New Roman', serif;
    font-size: 1.5em;
    margin-top:10px;
    margin-bottom:0px;
}

.ins {
    color: green;
    font-weight: bolder;
}

.sub {
    color: blue;
    font-weight: bolder;
}