<!DOCTYPE html>

<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <script type="text/javascript" src="/static/js/main.js"></script>
        <script type="text/javascript" src="/static/js/recorder.js"></script>
        <script type="text/javascript" src="/static/js/recorderWorker.js"></script>
    </head>

    <body>
        <div class="container">
            <h1>Word Error Rate (WER) Calculator</h1>
            <p>Choose a sentence from the options below, then record yourself saying the sentence using the Start and Stop buttons.</p>
            <p>Don't worry about speaking too clearly—the whole point is to detect some errors! If you find that the speech API is understanding you too well try talking faster, speaking in an accent, or inviting a small child or animal to join you in the room.</p>
            <div class="vpadding-med">
                <select name="sentences" id="sentences">
                    <option value="sent1">These slides are for a phonetics class.</option>
                    <option value="sent2">Open the pod bay doors, HAL.</option>
                    <option value="sent3">She's got Thrombocytopenia.</option>
                    <option value="sent4">For shizzle, Bashira!</option>
                    <option value="sent5">Tall hamburgers fly sexily under a sultan's flamingo.</option>
                    <option value="sent5">These deals are Sofa King good!</option>
                </select>
            </div>
            <div class="vpadding-med">
                <button id="start" class="btn btn-success" onclick="startRecording()" disabled>Start</button>
                <button id="stop" class="btn btn-danger" onclick="stopRecording()" disabled>Stop</button>
            </div>
            <hr>
            <div id="wer-output"></div>

            <div id="levenshtein" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <br><br>
                    <div>
                        This is the Levenshtein matrix with backpointers used to calculate the minimum edits required and generate the sequence of edits.
                    </div>
                    <br>
                    <div id="levenshtein-matrix"></div>
                    <br>
                    <div>
                        <b>Key:</b>
                        <table class='matrix-key'>
                            <tr>
                                <td>★ Keep</td>
                                <td>⭦ Substitute</td>
                                <td>⭠ Insert</td>
                                <td>⭡ Delete</td>
                            </tr>
                            </td></tr>
                        </table>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
    </body>

    <script src="/static/js/levenshteinModal.js"></script>

</html>