<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
    <body style="background-color:rgb(127, 195, 255);">
        <h1>Word Error Rate (WER) Calculator</h1>
        <p>Created by <a target="_blank"href="https://github.com/ljdyer">Laurence Dyer</a> as part of a University assignment on automatic speech recognition in December 2021.</p>
        <p>Click the Begin button and then follow the instructions on the next page to record yourself saying a reference sentence and find out how close Google Web Speech API is to understanding you!</p>
        <p>Before you start, make sure you have a microphone installed and ready to use. The browser may prompt you for permission to record the first time you use the site: be sure to grant it.</p>
        <p class="red-text">Note: Once you go to the next page, please do not refresh, as it will cause errors when recording.</p>
        <form action="/audio_to_text/"><button>Start Recording</button></form>
        <p>Example sentences come from Will Styler's article <a target="_blank" href="https://wstyler.ucsd.edu/posts/terrible_speech_recognition.html">Doing Terrible things to Speech Recognition Software</a>.</p>
    </body>

</html>
